@model IEnumerable<UniversityofLouisvilleVaccine.Models.Vaccine>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Vaccine Inventory</h2>


<p>
    

    @using (Html.BeginForm())
    {
    <p>
        Search: @Html.TextBox("SearchString")  
        <input type="submit" value="Filter" />           
        
        @*Lot Number: @Html.DropDownList("lotNumber", "Lot Numbers")*@
        
        @Html.ActionLink("Create New", "Create", null, new { @class = "classname"})

    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vaccineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vaccineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICD9Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numofDoses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vaccineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vaccineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICD9Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numofDoses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vaccineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vaccineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vaccineID })
        </td>
    </tr>
}

</table>
